<div class="row">
  <div class="col-lg-12">
    <div id="game-content">
      <p>Loading...</p>

      <div class="clearfix"></div>
    </div>
    
    <p><button id="click-me">Click Me</button></p>
  </div>
</div>

<script>
  $(function() {
    var play = require('web/static/js/play');
    play.start(<%= @user.id %>);
  });
</script>


