<div class="row">
  <div class="col-lg-12">
    <p>Building:</p>
    <ul>
      <li><a href="/build/users">Users</a></li>
      <li><a href="/build/rooms">Rooms</a></li>
      <li><a href="/build/ents">Ents</a></li>
    </ul>
  </div>
</div>
